* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.body-content {
  background-image: url("./Multimedia/bg-body.jpg");
  background-image: linear-gradient("to bottom;");
  margin: auto;
  width: 100%;
  animation-name: intro;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  transition: 2s transform ease;
  font-family: "Playfair Display", serif;
  overflow: hidden;
}
@keyframes intro {
  0% {
    width: 40%;
    height: 70%;
    transform: translateY(800px) rotate(0deg);
  }

  40% {
    width: 40%;
    transform: translateY(100px) rotate(0deg);
    height: 100%;
  }
  90% {
    width: 60%;
    height: 100%;
    transform: translate(0px) rotate(-360deg);
  }
  100% {
    width: 100%;
    height: 100%;
    transform: translate(0px) rotate(-720deg);
  }
}
.navbar {
  z-index: 1;
  background-image: url("./Multimedia/bg-body.jpg");
  border-bottom: 1.5px solid #939290;
}
.navbar-brand {
  font-size: 12px !important;
  font-family: "Cinzel", serif;
}
.navbar-logo {
  font-family: "Cinzel", serif;
  font-size: 15px !important;
  font-weight: 700;
  letter-spacing: -1;
  animation-duration: 8s;
  animation-name: logo;
  transition: 3s transform ease;
}
@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0%;
    animation-delay: 8s;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    transform: translateX(0px);
    opacity: 100%;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.material-symbols-outlined {
  font-weight: 200 !important;
  font-size: 3rem !important;
  line-height: 0.1 !important;
  color: black !important;
  text-align: center !important;
}
.hamburger1 {
  padding-top: 60%;
}
.navbar-toggler,
.btn-close {
  transition: transform 3s ease;
}
.navbar-toggler:hover .hamburger1:first-child,
.btn-close:hover {
  transform: translateX(3px);
}
.navbar-toggler:hover .hamburger2:last-child {
  transform: translateX(-3px);
}
.navbar-toggler:active .hamburger1:first-child {
  transform: rotate(45deg) translate(-1px);
}
.navbar-toggler:active .hamburger2:last-child {
  transform: rotate(-45deg) translate(14px);
}
.offcanvas-body {
  color: #777676;
  background-color: #000000;
}
.navitem,
.nav-link {
  color: white !important;
}
.btn-outline-success {
  border: 1px solid #2fffd2;
  color: #2fffd2;
}
.offcanvas-header {
  background-color: #1c1c19;
  color: #cdc6be;
  gap: 35%;
}
.offcanvas.offcanvas-top {
  height: 100vh !important;
  max-height: 100vh !important;
  background-color: #1d1d1b;
}
.offcanvas.offcanvas-top {
  overflow: hidden !important;
}
.offcanvas-body {
  overflow: hidden !important;
  height: calc(100vh - 56px);
}
body.offcanvas-open {
  overflow: hidden !important;
}

.text1 {
  text-decoration: line-through !important;
  text-decoration-color: #c03f13 !important;
}
.texts {
  font-size: 8rem;
  color: #cdc6be;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: -10px;
  line-height: 100%;
  transition: letter-spacing 500ms ease;
}
.texts:hover {
  letter-spacing: -7px;
  color: #b7b1ab;
}
.hamburger1a {
  padding-top: 60%;
  color: #cdc6be !important;
}
.hamburger2a {
  color: #cdc6be !important;
}
.navbar-toggler {
  transition: transform 3s ease;
}
.navbar-toggler .hamburger1a:first-child {
  transform: rotate(45deg) translate(-1px);
}

.navbar-toggler .hamburger2a:last-child {
  transform: rotate(-45deg) translate(14px);
}
.navbar-toggler:hover .hamburger1a:first-child {
  transform: translate(-2px, 2px) rotate(45deg);
}
.list {
  padding-top: 4%;
}
.list,
.links {
  gap: 2%;
  font-size: 12px;
  color: #cdc6be;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
.div1a {
  padding: 7% 3%;
}
.div1c {
  border: 1px solid #96928c;
}
.div1c > h1 {
  border: none;
  transition: all 600ms ease;
}
.div1c > h1:hover {
  border: 1px solid black;
  border-radius: 50%;
}
.div1c > p {
  font-weight: 600;
}
.div1b,
.div1c,
.div1d {
  width: 55%;
  gap: 3%;
}
.div1c > p {
  font-size: 20px;
}
.div1b,
.div1d {
  font-size: 15px;
}
.images {
  width: 100%;
  height: 25vh;
  overflow: hidden;
}
.image1,
.image2 {
  object-fit: contain;
  width: 100%;
  transition: transform 600ms ease;
}
.image1:hover,
.image2:hover {
  transform: scale(1.5);
}
.div1c > p {
  animation-duration: 6s;
  animation-name: p;
  transition: 3s transform ease;
}
.div2a,
.div4a {
  background-color: #1b1b19;
  color: #c4bcb2;
  margin: 0% 1%;
  height: 75vh;
  padding-bottom: 4%;
}
.div2a > h1,
.div4a > h1 {
  font-size: 12rem;
  letter-spacing: -4px;
  transform: scaleY(2.5);
}
.section2 {
  padding-bottom: 5%;
  margin: 0% 2%;
}
.section3 {
  margin: 0% 2%;
}
.div3a {
  background-color: transparent;
  color: #1c1c19;
  border-right: 1px solid #96928c;
  margin: 0% 2%;
}
.div3b {
  width: 75%;
  margin-bottom: 10%;
}
.texta {
  font-family: "Cinzel", serif;
  font-size: 90px;
  height: 12vh;
  border-bottom: 1.5px solid #949089;
  letter-spacing: -10px;
  transform: scaleY(1);
  font-weight: 600;
  padding-right: 3%;
  margin-bottom: 5%;
}
.textb {
  height: 14vh;
  font-size: 90px;
  letter-spacing: -8px;
  transform: scaleY(1.8);
  border-bottom: 1.5px solid #949089;
  font-weight: 600;
  width: 100%;
  margin-bottom: 5%;
}
.I {
  font-size: 70px;
  background-color: #1c1c19;
  border-radius: 2px 30px;
  color: #c5bdb4;
}
.sec3text {
  font-size: 20px;
  width: 80%;
}
.div3c {
  width: 200%;
}
.words {
  height: 5vh;
  font-size: 55px;
  font-family: "Cinzel", serif;
  font-weight: 900;
  margin-bottom: 10%;
  letter-spacing: -5px;
  transform: scaleY(1.8);
  border-bottom: 1.2px solid #949089;
}
/* Hover Animation */
.cards {
  height: 100%;
  width: 90%;
  background-color: #c6beb4;
  border: 1px solid #939393;
  padding: 6% 8%;
  padding-top: 8% !important;
  gap: 2%;
  overflow: hidden;
  transition: all 200ms ease;
}
.cards > p {
  font-size: 20px;
  color: #4d5e6e;
  width: 70%;
}

.cards > a {
  font-size: 20px;
  bottom: 40px;
  width: 30%;
}
.card5 > h4,
.card5 > a {
  color: #0c1825;
}
.card5:hover h4,
.card5:hover p,
.card5:hover a {
  color: white;
  opacity: 1 !important;
}
.card5:hover {
  background-color: #1c1c1c;
  border: none;
}
.card5 > img {
  transform: translate(600px, 200px);
}
.card5:hover > img {
  transition-duration: 300ms;
  transform: translate(200px, 50px);
}
.PiggyVest {
  border: 1px solid rgb(208, 206, 206);
  border-radius: 20px;
}
.projects {
  font-size: 40px;
}
.text5a,
.text5b {
  font-size: 90px;
  height: 18vh;
}
.text5b {
  margin-bottom: 20%;
}
.text5a {
  font-family: "Cinzel", serif;
  height: 12vh;
  font-size: 55px;
  letter-spacing: -8px;
}
.div5g {
  height: 40vh;
  width: 94%;
}
.div5g > h1 {
  font-size: 5rem;
  letter-spacing: 1px;
  transform: scale(2.5, 1.5);
}
.div5d > h1,
.A {
  font-size: 30px;
  transform: scaleY(1.5);
  font-weight: 900;
  font-family: "Cinzel", serif;
}
.div5d > p,
.sec5text {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  transform: scale(1, 1.5);
}

.A {
  color: #b7b1ab;
  border-radius: 2px 20px;
}
.sec5img {
  height: 22vh;
}
.div1e {
  border-left: 1px solid #96928c;
  padding-left: 5%;
}
.div5a {
  padding: 4% 0%;
}
.div5f {
  border-right: none;
  padding-left: 2%;
}

@keyframes p {
  0% {
    opacity: 0%;
    animation-delay: 3s;
  }
  25% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 1;
  }
}
.awards-div {
  gap: 11px;
}
.awards {
  transform: scaleY(1.5);
  letter-spacing: -4;
}
.number {
  transform-origin: bottom;
  transform: scale(1.6, 1.9);
  font-size: 90px;
}
.scale1,
.scale2,
.scale3 {
  transform: scale(5, 10);
  transform-origin: left;
  font-family: "cinzel", serif;
  letter-spacing: -4;
  color: #1c1b19;
  text-shadow: 0px 0.4px rgb(83, 83, 83);
}
.scale2 {
  transform: scale(5.5, 8);
}
.scale3 {
  transform: scale(9, 6.5);
  letter-spacing: -2;
}
.humankindlg {
  font-size: 60px;
  letter-spacing: -6;
  font-family: "cinzel", sans-serif;
  font-weight: 900;
  transform: scaleY(1);
  line-height: 50px;
}
.medium-hk {
  gap: 20px;
}
.viewsite {
  width: 50%;
}
.viewsite2 {
  font-size: 100px;
  font-family: "Cinzel", serif;
}
.viewsite2:hover {
  color: #939290 !important;
}
.view-box {
  gap: 20px;
}
.hk-clone {
  width: 50%;
}
.sec-slide {
  height: 60vh;
}
.boxes {
  width: 450px;
  height: 300px;
  border: 2px solid black;
  border-radius: 8px;
  background-image: url("./Multimedia/bg-body.jpg");
  position: absolute;
  top: 1%;
  transition: transform 300ms ease;
}
.cardss {
  border: 1px dashed black;
  border-radius: 8px;
  height: 280px;
}
.box2 {
  left: 20%;
  z-index: 1;
}
.box3 {
  left: 40%;
  z-index: 1;
}
.box4 {
  left: 60%;
  z-index: 1;
}
.boxes:nth-child(1):hover ~ .boxes {
  transform: translateX(200px);
}
.boxes:nth-child(2):hover ~ .boxes {
  transform: translateX(200px);
}
.boxes:nth-child(3):hover ~ .boxes {
  transform: translateX(200px);
}
.section10 {
  overflow: hidden;
}
.div10a {
  gap: 80px;
  transition: all 4s ease-in-out;
  animation-name: slide;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes slide {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(-200px);
  }
}
